<div class="container">
  <div class='card'
      *ngIf='productDetail'>
    <div class='card-header'>
      {{ productDetail.productTitle}}
    </div>
<!-- TODO CSS PRODUCT DETAIL -->
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-7'>
          <div class='row'>
            <div class='col-md-4'>Name:</div>
            <div class='col-md-8'>{{productDetail.productTitle}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Code:</div>
            <div class='col-md-8'>{{productDetail.productId}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Description:</div>
            <div class='col-md-8'>{{productDetail.productDesc}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Availability:</div>
            <div class='col-md-8'>{{productDetail.productQuantity}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Price:</div>
            <div class='col-md-8'>{{productDetail.productPrice| currency:"Rp ":'symbol':'1.0'}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Rating : </div>
            <div class='col-md-8'>
              <!-- Start Template for star -->
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
              <!-- End Template for star -->

              <ngb-rating [(rate)]="productDetail.productRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>

            </div>
          </div>
          <a (click)="addToCart(productDetail)" class="add-cart"><i class="fas fa-cart-plus"></i> Add To Cart</a>
        </div>
        <div class='col-md-5'>
          <app-product-gallery [productsImage]="productDetail.productImg"></app-product-gallery>
          <!-- <img [src]="productDetail.productImg" alt=""> -->
        </div>
      </div>
    </div>

    <div class='card-footer'>
      <button class='btn btn-outline-secondary'
              (click)='onBack()'
              style='width:80px'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
  </div>
</div>

<!-- TODO RECOMMENDATION -->
<!-- <app-recommendation [clickedProduct]="productDetail"></app-recommendation> -->
<app-recommendation [listRecommendation]="listRecommendation"></app-recommendation>
