<div class="container">
  <div class='card'
      *ngIf='productDetail'>
    <div class='card-header'>
      {{ productDetail.title}}
    </div>
<!-- TODO CSS PRODUCT DETAIL -->
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-4'>Name:</div>
            <div class='col-md-8'>{{productDetail.title}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Code:</div>
            <div class='col-md-8'>{{productDetail.id}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Description:</div>
            <div class='col-md-8'>{{productDetail.desc}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Availability:</div>
            <div class='col-md-8'>{{productDetail.quantity}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Price:</div>
            <div class='col-md-8'>{{productDetail.price| currency:"Rp ":'symbol':'1.0'}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Rating : </div>
            <div class='col-md-8'>
              <!-- Start Template for star -->
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
              <!-- End Template for star -->

              <ngb-rating [(rate)]="productDetail.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>

            </div>
          </div>
          <a (click)="addToCart(productDetail)" class="add-cart"><i class="fas fa-cart-plus"></i> Add To Cart</a>
        </div>

        <div class='col-md-4'>
          <img class='center-block img-responsive'
              [style.width.px]='200'
              [style.margin.px]='2'
              [src]='productDetail.img_url'
              [title]='productDetail.title'>
        </div>
      </div>
    </div>

    <div class='card-footer'>
      <button class='btn btn-outline-secondary'
              (click)='onBack()'
              style='width:80px'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
  </div>
</div>

<!-- TODO RECOMMENDATION -->
<app-recommendation [clickedProduct]="productDetail"></app-recommendation>
