  <!-- Start Template for star -->
  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>
<!-- End Template for star -->

<div class="row">
    <div *ngFor="let product of productService.listProduct" class="col-md-4">
        <a [routerLink]="['/product/'+product.productId]"><img class="product-image" src="{{product.productImg}}" alt=""></a>
        <div>
            <h6 class="mb-0">{{product.productTitle}}</h6>
            <p class="mb-0">{{product.productPrice | currency:"Rp ":'symbol':'1.0' }}</p>
            <a (click)="addToCart(product)" class="add-cart"><i class="fas fa-cart-plus"></i> Add To Cart</a>
            <div>                
                <ngb-rating [(rate)]="product.productRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            </div>
        </div>
    </div>
</div>
 