<!-- Start Template for star -->
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>
<!-- End Template for star -->
<div class="row">
    <div class="col-sm-1">
        <img class="rounded" src="{{product.productDetail.productImg}}" alt="" height="60" width="60" style="margin-left: 8px;">
    </div>
    <div class="col-sm-5 border-right">
        <div class="col">
            <div class="row-sm-6"><a [routerLink]="['/product/'+product.productDetail.productId]" ><h6 class="title-color">{{product.productDetail.productTitle}}</h6></a></div>
                <div class="row-sm-6">
                    <span class="price-color">{{product.productDetail.productPrice | currency:"Rp ":'symbol':'1.0'}} </span>{{product.transactionDetail[0].product_quantity}} Produk
                </div>
        </div>
    </div>
    <div class="col-sm-3 my-auto">
        <h6 class="price-color">{{product.productDetail.productPrice * product.transactionDetail[0].product_quantity| currency:"Rp ":'symbol':'1.0'}}</h6>
    </div>    
    <div class="col-sm-3 text-center" >
        <!-- <div *ngIf="transaction.status == 'delivered'"> -->
            <div><ngb-rating [(rate)]="rating" [starTemplate]="t" [readonly]="submitted" [max]="5"></ngb-rating></div>
            <div *ngIf="!submitted"><button class="btn btn-info btn-sm " (click)="saveRating()">Submit <i class="fab fa-telegram-plane"></i></button></div>
        <!-- </div> -->
    </div>    
</div>