<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div *ngFor="let transaction of this.cartService.transaction" class="card shadow-sm" style="min-height: 200px;margin-top: 10px;">
        <div class="col">
          <div class="row-sm-2 pt-2">
            <i class="fas fa-calendar-day"></i> {{transaction.created_date}}
            <hr>
          </div>
          <div class="row-sm-5">
            <div class="row">
              <div class="col-md-4 border-right">
                <div class="col">
                  <div class="row-sm-6"><h6 class="title-color"> Transaction ID</h6></div>
                  <div class="row-sm-6">{{transaction.transaction_id}}</div>
                </div>
              </div>
              <div class="col md-4 border-right">
                <div class="col">
                  <div class="row-sm-6">Status <i [ngClass]="(transaction.status == 'waiting')?'fas fa-clock':(transaction.status == 'delivered')?'fas fa-check':'fas fa-truck'"></i> </div>
                  <div class="row-sm-6 font-weight-bold">{{transaction.status}}</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col">
                  <div class="row-sm-6">Total Belanja</div>
                  <div class="row-sm-6 price-color font-weight-bold">{{transaction.total | currency:"Rp ":'symbol':'1.0'}}</div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class="row-sm-5">
            <div *ngFor="let product of transaction.items" style="margin-bottom: 8px;">
              <app-product-rating [product]="product" [transaction]="transaction"></app-product-rating>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-2"></div>
   </div>
  </div>
</div>

<!-- <ngb-accordion class="col" activeIds="custom-panel-1">
  <ngb-panel *ngFor="let transaction of this.cartService.transaction" id="custom-panel-{{transaction.transaction_id}}">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">Transaction Id: {{transaction.transaction_id}} : {{transaction.total}}</h5>
          <button ngbPanelToggle class="btn btn-link p-0"><i class="fas fa-chevron-circle-down"></i></button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="card">
          <div class="row text-center">
            <div class="col-sm-2 border-right">Image</div>
            <div class="col-sm-4 border-right">Product Name</div>
            <div class="col-sm-2 border-right">Price</div>
            <div class="col-sm-2 border-right">Quantity</div>
            <div class="col-sm-2">Total</div>
          </div>
        </div>
        <div class="card mb-1" *ngFor="let product of transaction.items" style="min-height: 80px;">
          <div class="row">
            <div class="col-sm-2 text-center border-right">
              <img src="{{product.img_url}}" alt="" height="80" width="80" style="margin-left: 8px;">
            </div>
            <div class="col-sm-4 border-right">
              <div class="col">
                <div class="row-sm-6">
                  <h6>{{product.title}}</h6>
                </div>
                <div class="row-sm-6">
                  <p>{{product.desc}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-2 border-right float-right">
              {{product.price | currency:"Rp ":'symbol':'1.0'}}
            </div>
            <div class="col-sm-2 border-right text-center">
              {{product.quantity}}
            </div>
            <div class="col-sm-2 text-center">
              {{product.price * product.quantity | currency:"Rp ":'symbol':'1.0'}}
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-10">
            <h4>TOTAL</h4>
          </div>
          <div class="col-sm-2">
            {{transaction.total | currency:"Rp ":'symbol':'1.0' }}
          </div>
        </div>
      </ng-template>
    </ngb-panel>  
</ngb-accordion> -->