<section>
    <!-- TODO Validasi cart == 0  -->
    <!-- TODO GANTI CSS CART -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="cartService.cart.length == 0 ">
                                    <div>
                                        <!-- BAGUSIN NODATA  -->
                                        NO DATA
                                    </div>
                                </tr>
                                <tr *ngFor="let product of cartService.cart">
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{product.img_url}}" alt="" height="100" width="100"/>
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{product.title}}</h6>
                                            <h5>{{product.price | currency:"Rp ":'symbol':'1.0' }}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <i class="fas fa-chevron-left" (click)="decr(product)"></i>
                                                <input type="text" [value]="product.quantity">
                                                <!-- <p>{{product.quantity}}</p> -->
                                                <i class="fas fa-chevron-right" (click)="incr(product)"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">{{product.price | currency:"Rp ":'symbol':'1.0' }}</td>
                                    <td class="cart__close" (click)="deleteItem(product)"><i class="fas fa-times"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a [routerLink]="['']">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#">Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span>{{calculateTotalPrice() | currency:"Rp ":'symbol':'1.0' }}</span></li>
                    </ul>
                    <div class="text-center">
                        <a (click)="directToTransaction()" class="btn btn-dark">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
